.square {
    background-color: transparent;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.182);
}

.borderFalse {
    border-color: transparent;
}

.squareContainer {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(30, 1fr); grid-template-rows: repeat(30, 1fr);
    width: 500px;
    height: 500px;
};

.input-color-container {
    /*position: relative;
    overflow: hidden; */
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
  } 
  

  #colorPicker, #colorPickerBgr {
   /* position: absolute;
    right: -8px;
    top: -8px; */
    width: 56px;
    height: 56px;
    border: none; 
    color: w;
  } 